*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: Satisfy;
  src: url("../fonts/Satisfy-Regular.ttf");
}
@font-face {
  font-family: PopLight;
  src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: PopRegular;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: PopMedium;
  src: url("../fonts/Poppins-Medium.ttf");
}

body {
  overflow-x: hidden;
  background-image: url("/img/palmBGXs.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  cursor: default;
}

main {
  margin-top: 35%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 1px 1px 10px #3d3d3d4f;
}

.logo-container {
  padding-top: 0.4em;
}

.logo-container img {
  width: 80%;
  margin: auto 0;
  animation: fadeIn 0.5s ease-in;
}

.nav-links {
  position: absolute;
  right: 0;
  top: 10vh;
  height: 90vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 999;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #6f9e36b4;
}

.active {
  border-bottom: 2px solid #fca402cc;
  color: #688d43;
}

.burger {
  display: block;
  border: 2px solid #3d3d3d;
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #3d3d3d;
  margin: 5px;
}

.nav-active {
  transform: translateX(0);
  z-index: 999;
}

.intro-title {
  margin: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 1s ease-in;
}

.intro-title p {
  margin: 5% 5%;
}

.intro-title img {
  width: 50px;
  align-self: center;
  margin: 5% 0;
}

.slideshow {
  width: 100%;
}

.slideshow img {
  width: 100%;
}

hr {
  margin-bottom: 5%;
  color: #3d3d3d;
  opacity: 0.5;
  position: relative;
  z-index: -1;
}

.hr-about {
  margin: 5% 0;
  color: #3d3d3d;
}

.about-info {
  margin: 5% 5%;
}

.about-page img {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 20, 3, 0.575);
}

.str-list {
  text-align: center;
  margin: 5% 10%;
  background-image: url("/img/hmLogoFade.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.str-list img {
  width: 18%;
  margin-top: 15%;
}

footer {
  background-color: rgb(231, 231, 231);
}

.footer-info {
  padding: 8% 5%;
}

.hr-footer {
  width: 50%;
  margin: auto;
}

footer img {
  width: 25%;
}

/*
  -------------------------------------------------------
  Typography
  -------------------------------------------------------
*/

body {
  font-family: PopRegular, Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}

h1,
h3 {
  font-family: Satisfy, Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 1px 1px 2px #e2e2e2;
}

h3 {
  margin: 10% 0 5% 0;
  text-decoration: underline;
}

h4 {
  font-family: Satisfy, Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  text-shadow: 1px 1px 2px #e2e2e2;
}

h5 {
  font-size: 1em;
  text-shadow: 1px 1px 2px #e2e2e2;
}

.intro-title p {
  font-size: 0.9em;
  text-align: center;
}

.about-page {
  text-align: center;
}

.about-page p {
  font-family: PopLight, Arial, Helvetica, sans-serif;
  text-align: left;
}

.concept h5 {
  font-family: Satisfy, Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 5px #3d3d3d;
}

.concept p {
  font-family: PopLight, Arial, Helvetica, sans-serif;
}

.follow-us {
  margin: 5% 0;
}

.follow-icons {
  margin: 20% auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.follow-links {
  background-color: aqua;
  cursor: pointer;
  width: 100%;
}

.follow-icons img {
  width: 25%;
}

footer {
  text-align: center;
  text-shadow: none;
}

/*
  -------------------------------------------------------
  Fixed BG
  -------------------------------------------------------
*/

.concept {
  height: 100%;
  text-align: center;
}

.concept h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.scroll-info {
  padding: 15% 5%;
  background-color: #fff;
}

.fixed-bg-1 {
  background-image: url("/img/coupleRoad.jpg");
}
.fixed-bg-2 {
  background-image: url("/img/bridePrep.jpg");
  background-position: left;
}
.fixed-bg-3 {
  background-image: url("/img/coupleBeach.jpg");
}

/*
  -------------------------------------------------------
  Keyframes
  -------------------------------------------------------
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navFadeIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*
  -------------------------------------------------------
  Media Queries
  -------------------------------------------------------
*/

/* Media Queries */

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
