*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: Satisfy;
  src: url("../fonts/Satisfy-Regular.ttf");
}
@font-face {
  font-family: PopLight;
  src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: PopRegular;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: PopMedium;
  src: url("../fonts/Poppins-Medium.ttf");
}

body {
  font-family: PopRegular, Helvetica, sans-serif;
  background-image: url("../img/palmBG.jpg");
  background-attachment: fixed;
  background-size: 100%;
}

main {
  color: #3d3d3d;
  cursor: default;
}

header {
  background-color: #fff;
}

nav {
  width: 100%;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  background-image: url("../img/navBG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  height: 100%;
  margin: 0 6%;
  align-items: center;
  list-style: none;
  letter-spacing: 1px;
}

.nav-link {
  color: #6f9e36b4;
  height: 100%;
  text-decoration: none;
  margin-left: 2em;
  font-size: 1.2em;
  transition: 0.4s;
  border-bottom: 1px solid #688d4356;
}

.nav-link:hover {
  color: #688d43;
  border-color: #fca402cc;
  border-bottom: 1px solid #d49f3e;
}

.active {
  color: #688d43;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #fca402cc;
}

.contact {
  border: 2px solid #d49f3e9d;
  border-radius: 5px;
  padding: 3px 10px;
  font-family: Satisfy;
  font-size: 1.3em;
}

.contact:hover {
  background-color: #f8fc0205;
}

.burger {
  margin: auto;
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #3d3d3d;
  margin: 5px;
}

.logo-container {
  margin: auto 0 auto 5%;
}

.logo-container img {
  width: 100%;
  animation: fadeIn 1s ease-in;
}

.introPage {
  display: flex;
  height: 90vh;
  margin: 0 5%;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  animation: fadeIn 1s ease-in;
}

.intro-title {
  font-family: Satisfy;
  font-size: 400%;
  color: #3d3d3d;
}

#intro-heart {
  display: flex;
  flex-direction: column;
}

#intro-heart img {
  align-self: center;
}

.hr-light {
  width: 50%;
  margin-bottom: 2%;
  align-self: center;
}

.intro-details {
  font-size: 1.5em;
  margin: 0 10%;
  padding-top: 5%;
  color: #3d3d3d;
  text-align: center;
}

.slideshow {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slideshow > div {
  position: absolute;
}

.slideshow img {
  border-radius: 2%;
  width: 100%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.about {
  height: 80vh;
  display: flex;
  margin: 0 5%;
}

.about h2 {
  font-family: Satisfy;
  font-size: 4em;
  margin-left: auto;
  margin-right: auto;
}

.aboutTitle {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  animation: fadeIn 1s ease-in;
}

.aboutTitle img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto 15% auto;
  box-shadow: 0px 0px 25px rgba(48, 48, 48, 0.349);
  border-radius: 5px;
}

.aboutInfo {
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6em;
}

.aboutInfo p {
  font-family: PopLight;
}

.hrInfo {
  width: 100%;
  margin: 5% 0;
  border-top: 5px solid #3d3d3da4;
}

#hrAbout {
  width: 20%;
  margin: 0 auto 8% auto;
}

.str {
  margin: auto 20%;
  height: 70vh;
}

#hrStr {
  width: 20%;
  margin-bottom: 5%;
}

#str-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Satisfy, Helvetice, sans-serif;
  font-size: 3.5em;
}

.str-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5em;
  text-align: center;
  background-image: url("../img/hmLogoFade.png");
  background-repeat: no-repeat;
  background-position: center;
}

#icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7% 0;
}

#icons img {
  width: 13%;
  padding-bottom: 3%;
}

#icons p {
  padding: 0 10%;
  text-shadow: 2px 2px 6px rgba(187, 187, 187, 0.774);
}

.concept {
  margin: 0 10%;
  height: 100vh;
}

.conceptTitle {
  font-family: Satisfy, Helvetica, sans-serif;
  font-size: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0;
}

#hrConcept {
  width: 12%;
}

.conceptPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#road img {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.conceptItems {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2%;
  text-align: center;
}

.conceptItems h5 {
  font-size: 1.2em;
  padding-bottom: 4%;
}

.sidePhotos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidePhotos img {
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
}

footer {
  text-align: center;
  cursor: default;
  height: 5vh;
}

/*
  -------------------------------------------------------
  Keyframes
  -------------------------------------------------------
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/*
  -------------------------------------------------------
  Media Queries
  -------------------------------------------------------
*/

/* Media Queries */

@media (max-width: 576px) {
  body {
    background-image: url(/img/palmBGXs.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
  }

  header {
    background-color: #fff;
  }

  .introPage {
    margin: 0 5%;
  }

  .nav-links {
    display: none !important;
  }

  .introduction {aquamarine;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  .intro-details p {
    font-size: 0.8em;
  }

  #intro-heart {
    width: 100%;
    font-size: 0.8em;
    margin-left: 0 !important;
    padding: 7% 15%;
    
  }

  .slideshow {
    width: 90% !important;
  }

  .slideshow img {
    border: 2px solid rgb(233, 233, 233);
  }

  .aboutInfo {
    display: none;
  }
}
@media (max-width: 768px) {
  nav {
    background-image: none;
  }

  .nav-links {
    background-color: #fff;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }

  .burger {
    display: block;
    margin-right: 10%;
  }

  .logo-container {
    margin-left: 10%;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 1200px) {
  .introPage {
    flex-direction: column;
  }

  .nav-link {
    font-size: 1.1em;
    margin-left: 1.3rem;
  }

  .introduction {
    margin-top: 5%;
    height: 40vh;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #intro-heart {
    margin-left: 15%;
    text-align: center;
    flex: 1;
  }

  .intro-details {
    flex: 1;
    padding: 5% 0;
    font-family: PopLight, Helvetica, sans-serif;
    font-size: 1.4em;
  }

  .slideshow {
    height: 60vh;
    width: 80%;
    margin: 0 auto;
  }
  .slideshow img {
    width: 100%;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
